<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9zWXVSPUP-TjrzhhMLUXOyeAhkfulr24</string>
	<key>GCM_SENDER_ID</key>
	<string>189151766931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruebaTecnica.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pruebatec-e0e08</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebatec-e0e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189151766931:ios:a431f0bc024ab64b94e066</string>
</dict>
</plist>